.products_overview {
    position: relative;
    z-index: 2;

    .container {
        padding: 2em 5% 2em 5%;
        width: calc(100% - 10%);
        height: calc(100vh - 4em);
        overflow: scroll;
        background-color: color(broken-white);
        border-radius: 40px;

        .header {
            display: flex;
            justify-content: space-between;
            padding-top: 3em;

            &__text-container {
                .title {
                    margin-bottom: 0.3em;
                    font-weight: 600;
                    font-size: 2em;
                    line-height: 0.8em;
                }

                .undertitle {
                    font-size: 1em;
                    opacity: 0.7;
                }
            }

            &__nav {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 25px;
                height: 15px;
                
                span {
                    height: 2px;
                    background-color: color(black);

                    &:first-of-type {
                        width: 70%;
                        align-self: flex-start;
                    }

                    &:last-of-type {
                        width: 70%;
                        align-self: flex-end;
                    }
                }
            }

            &__shopping-cart {
                background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNC41NTggN2w0LjcwMS00LjcwMmMuMTk5LS4xOTguNDYtLjI5OC43MjEtLjI5OC42MTMgMCAxLjAyLjUwNSAxLjAyIDEuMDI5IDAgLjI1LS4wOTIuNTA0LS4yOTkuNzExbC0zLjI2IDMuMjZoLTIuODgzem0xMi4wMDEgMGgyLjg4M2wtNC43MDEtNC43MDJjLS4xOTktLjE5OC0uNDYtLjI5OC0uNzIxLS4yOTgtLjYxMyAwLTEuMDIuNTA1LTEuMDIgMS4wMjkgMCAuMjUuMDkyLjUwNC4yOTkuNzExbDMuMjYgMy4yNnptMy43MDMgNGwtLjAxNi4wNDEtMy41OTggOC45NTloLTkuMjk2bC0zLjU5Ny04Ljk2MS0uMDE2LS4wMzloMTYuNTIzem0zLjczOC0yaC0yNHYyaC42NDNjLjUzNCAwIDEuMDIxLjMwNCAxLjI1Ni43ODRsNC4xMDEgMTAuMjE2aDEybDQuMTAyLTEwLjIxNGMuMjMzLS40ODEuNzIyLS43ODYgMS4yNTYtLjc4NmguNjQydi0yeiIvPjwvc3ZnPg==");
                background-size: 19px auto;
                background-position: 33%;
                background-repeat: no-repeat;
                position: relative;
            }
        }
    }

    .items {
        &__container {
            width: 100%;
            padding-top: 1em;
            display: flex;
            justify-content: space-between;

            .row {
                width: calc(50% - 10px);

                &:first-of-type {
                    margin-right: 5px;
                    padding-top: 4em;
                }

                &:last-of-type {
                    margin-left: 5px;
                }
            }
        }

        .item {
            position: relative;
            width: 100%;
            padding-top: 20px;
            background-color: color(metalic);
            border-radius: 20px;
            align-self: flex-start;
            margin: 2em 0;

            &__image-container {
                transform: translateY(-25px);

                img {
                    position: relative;
                    width: 100%;
                    z-index: 999;
                }
            }

            &__text-container {
                padding-left: 10px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
            }

            &__product-name {
                // width: calc(50% + 40px);
                font-size: 1.2em;
                color: color(black);
                font-weight: 600;
                line-height: 1.2em;
            }

            &__product-price {
                position: relative;
                padding: 5px;
                color: color(white);
                background-color: rgba(0,0,0,0.9);
                font-weight: 600;
                border-radius: 4px;
                transform: translate(10px, 0);
                max-width: 55px;

                &::before {
                    content: '€';
                    
                }
            }

            &__add-to-cart {
                padding: 5px;
                position: absolute;
                right: 0;
                bottom: 0;
                width: 15px;
                height: 15px;
                // border: solid 1px color(black);
                background-color: color(black);
                border-bottom-right-radius: 20px;

                span {
                    width: 40%;
                    height: 2px;
                    position: absolute;
                    left: 45%;
                    top: 42%;
                    transform: translate(-50%, -50%);
                    background-color: color(white);

                    &:first-of-type {
                        transform: translate(-50%, -50%) rotate(90deg);
                    }
                }
            }
        }
    }
}

.floating-image {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
}